body {
	background-color: teal;
}

.tabuada_numero {
	width:170px;
	float:left;
	margin:4px;
	border-color:teal;
	border-width:2px;
/*	display:block; */
	background-color:white;
}

ul {
	margin:0px;
	background-color:orange;
	padding:0px;
}

li {
	margin:0px;
	padding:3px 12px;
	list-style-position:outside;
	list-style-type:none;
	background-color:white;
	border:0px solid #066;
	border-bottom-width:1px;
	
	
}